{% extends 'base.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <h2>Programar Envío de Correo</h2>
    <form action="/schedule/process" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label>Fecha y Hora de Envío:</label><br>
            <input type="datetime-local" name="schedule_time" required class="form-control">
        </div>

        <div class="form-group">
            <label>Grupo de Destinatarios:</label><br>
            {% if not groups %}
                <p class="text-danger">Por favor cree un grupo en la pestaña "Crear Grupos"</p>
            {% else %}
                <select name="group_id" class="form-control">
                    {% for group in groups %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                    {% endfor %}
                </select>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Departamento:</label><br>
            <select name="department" class="form-control">
                <option value="cyber">Ciberseguridad</option>
                <option value="hr">Recursos Humanos</option>
                <option value="data">Data Analysis</option>
            </select>
        </div>

        <div class="form-group">
            <label>Seleccionar Excel:</label><br>
            <input type="file" name="excel_file" accept=".xlsx" required class="form-control">
        </div>

        <div class="form-group">
            <label>Asunto del Correo:</label><br>
            <input type="text" name="subject" placeholder="Ej: Reporte Mensual de Vulnerabilidades" required class="form-control">
        </div>

        <div class="form-group">
            <label>Contenido del Correo:</label><br>
            <textarea name="body" rows="4" placeholder="Estimados, adjuntamos el reporte..." required class="form-control"></textarea>
        </div>

        <button type="submit" class="btn-success">Programar Envío</button>
    </form>
{% endblock %}